@page "/"

<div class="container text-white">

    <h1 class="display-3 text-center">Welcome To My Site</h1>
    <hr class="border-white" />

    <section>
        <h3>My Name is Waseem Rkab, I'm a Junior Practical Software Engineer.</h3>
        <hr class="border-white" />
        <h5>My Story:</h5>
        <section>
            <p class="lead">
                Before i became a Practical Software Engineer, i always had a strong interest in Computer Software/Hardware.
            </p>
        </section>
        <section>
            <p class="lead">
                So i decided to Study Software Development To understand how the Computers deeply work,
                and here i successfully Completed This Journey With a GPA of 92.
            </p>
            <p class="lead">
                
            </p>
        </section>
        <section>
            <p class="lead">

            </p>
        </section>
        <section>
            <p class="lead">
                i am very good self-taught Developer.
                i always loved learning New Tools and Frameworks on developement
            </p>
            <p class="lead">



            </p>

            <p class="lead">
                now my main instrest as of today is Backend Web Development
                i'm currently looking for Job Opportunities.
            </p>
        </section>

    </section>



</div>

